@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Castoro+Titling&display=swap');


*,*::after,*::before{
    box-sizing: border-box;
}

body{
    font-family: 'Bruno Ace SC', cursive;
    /* font-family: 'Castoro Titling', cursive; */

    font-size: 16px;
    line-height: 24px;
}
.material-symbols-outlined{
    vertical-align:bottom;
    font-size: 24px;
    margin-left: 9px;
}
.contact .material-symbols-outlined{
    vertical-align:middle;
    font-size: 100px;
    margin-left: 16px;
}
a{
    text-decoration: none;
    color: inherit;
}
img{
    vertical-align: middle;
}
h1{
    font-size: 128px;
    line-height: 192px;
    color: #00FFA3;
    text-align: right;
}
h2{
    font-size: 64px;
    line-height: 96px;
    color: inherit;
}
p{
    font-size: 24px;
    line-height: 36px;
}
.container{
    max-width: 1296px;
    margin: 0 auto;
}


/* nav */
nav{
    background: #000;
    color: #D1D1D1;
    position: sticky;
    top: 0;
    z-index: 10;
}
nav ul{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
nav a{
    transition: 0.5s;
}
nav a:hover{
    opacity: 0.8;
    color: #00FFA3;
}


/* header */
header{
    background: #000;
    color: #fff;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 72px 0;
}
.header-btn{
    display: block;
    width: fit-content;
    background: #fff;
    color: #000;
    border: 2px solid currentColor;
    padding: 12px 24px;
    border-radius: 32px;
    margin-left: auto;

    transition: 0.5s;
}
.header-btn:hover{
    color:#00FFA3;
    border: 2px solid currentColor;
    background: none;
}


/* introduction */
.introduction{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
    padding: 160px 0;
    color: #fff;
}
.introduction .container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.introduction p{
    margin: 36px 0 32px 0;
}
.introduction .pic-group{
    display: flex;
    gap: 24px;
}
.sparkle-group img:not(:last-child){
    margin-right: 16px;
}


/* about */
.about{
    display: flex;
    justify-content: space-between;
    padding: 160px 0;
}
.about .card-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
.card{
    border: 1px solid #E3E3E3;
    padding: 16px;
    margin: 12px;
    max-width: 306px;
}
.card-title{
    font-size: 20px;
    line-height: 30px;
}
.card p{
    font: inherit;
    margin-top: 4px;
}
.about .info{
    max-width: 526px;
}
.about h2{
    margin-bottom: 36px;
}


/* contact */
.contact{
    background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);
    color: #fff;
    padding: 96px 0;
}
.contact .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.icon-group a{
    position: absolute;
    width: 100%;
    height: 100%;
}
.icon-group li{
    width: 162px;
    height: 162px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;

    transition: 0.5s;
}
/* discord */
.icon-group li:first-of-type{
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/discord.png?raw=true");
    background-position: center;
}
/* ig */
.icon-group li:nth-of-type(2){
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/instagram.png?raw=true");
    background-position: left -4px top -4px;
}
/* message */
.icon-group li:nth-of-type(3){
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/message.png?raw=true");
    background-position: left -4px top -4px;
}
.icon-group li:hover{
    box-shadow: 0px 0px 16px 3px #9094FFE5;
}

/* projects */
.projects{
    padding: 160px 0;
}
.projects h2{
    max-width: 746px;
    margin-left: auto;
    margin-bottom: 16px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}
.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects .text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects p{
    font: inherit;
}
.projects .btn{
    display: inline-block;
    width: fit-content;
    padding: 12px 24px;
    font: inherit;
    background: #000;
    color: #fff;
    border-radius: 32px;
    border: 2px solid currentColor;
    transition: 0.5s;
}
.projects .btn:hover{
    background: none;
    color: #000;
    border: 2px solid currentColor;
}
.projects a:not(.btn){
    filter: brightness(0.8);
    transition: 0.5s;
}
.projects a:hover{
    filter: brightness(1);
}


/* footer */
footer{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 40px 0;
    font-size: 16px;
    line-height: 24px;
}

